html,
body {
    height: 90vh;
    width: 135vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
}

.all{
    position: absolute;
    height: 100vh;
    width: 134vh;
    background: white;
    z-index: 4;
}
.anim, .anim svg {
     position: relative;
    /* margin-left: 9vh; */
    width: 123vh;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 19vh;
    /* height: 200vh; */
  }
.anim path {
  stroke-width: 2;
}
.text{
    margin-left: 5vh;
}


path:hover {
    fill: #ccc;}

.heading {
    width: 107vh;
    margin: 0 auto;
    margin-top: 4vh;
}
.info {
    width: 42vh;
    margin-left: 4vh;
    margin-top: 4vh;
}
.info2 {
    width: 35vh;
    margin-right: 7vh;
    margin-top: 10vh;
}
.left-eye-container {
  height: 40%;
  width: 40%;
  position: fixed;
  left: 30%;
}
.right-eye-container {
  height: 40%;
  width: 40%;
  position: fixed;
  left: 30%;

.face-container {
  height: 40%;
  width: 40%;
  top: 10%;
  left: 30%;
  position: fixed;
}

.move-area {
     width: 132vh;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.container {
     width: 132vh;
    height: 99vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.eye {
    position: relative;
    display: inline-block;
    border-radius: 14vh;
    height: 8vh;
    width: 8vh;
    left: 3vh;
    top: 3vh;
    margin: 0 1vh;
}
.eye:after {
  /*pupil*/
  position: absolute;
  bottom: 25px;
  right: 12px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  content: '  ';
}
.content {
    width: 135vh;
    height: 48vh;
    display: flex;
    justify-content: space-between;
}
.face {
    z-index: -1;
    position: absolute;
    left: 47vh;
    top: 4vh;
    width: 41vh;
}
