
.heading{
position:fixed;
  height:21.8%;
  width:70%;
  left: 13%;
top: 2%;

}
.info{
  position:fixed;
left: 5.1%;
top: 35%;
}

.info2{
  position:fixed;
left:71%;
top: 45%;
}




.left-eye-container {
  height: 40%;
  width: 40%;
  position: fixed;
   left30%;
}

.right-eye-container {
  height: 40%;
  width: 40%;
  position:fixed;
   left:30%;
}


.face-container {
  height: 40%;
  width: 40%;
  top:10%;
  left:30%;
  position: fixed;
}
.heart{
 position: absolute;

left: 31.7%;
top: 87%; 
}
.dice{
 position: absolute;
left: 41.2%;
top: 87%; 
}
.diamond{
  position: absolute;
left: 50.3%;
top: 87%; 

}
.envelope{
 position: absolute;
left:60.1%;
top: 87%; 
}

.move-area{/*normally use body*/
  width: 100%;
  height: 100%;
 
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  top:400px;
  height: 110px;
  width: 110px;
  background: #ccc;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 25px;
  right: 12px;
  width: 13px;
  height: 13px;
  background: #000;
  border-radius: 50%;
  content: "  ";
}