body{
  height:100vh;
  width:800vh;
  background:white;
  

}
.eye-container{
  height:100vh;
  width:100vh;
}
.face{
    margin-left:38.9vh;
}


.left-eye-container {
  height: 100vh;
  width: 100vh;
  position: absolute;
}
.eye {
  border-radius: 13vh;
  margin-top: 48vh;
  margin-left:1.35vh;
  height: 10.85vh;
  width: 10.85vh;
  overflow:auto;
  display: inline-block;
  text-align: center;
  position: relative;
  background: none;
  
}

.eye:after {
  content: " ";
  bottom:2.2vh;
  right: 0.85vh;
  position: absolute;
  width: 2vh;
  height: 2vh;

  background: #000;
  border-radius: 6vh;

}
.right-eye-container {
  height: 100vh;
  width: 100vh;
  position: absolute;
}


.face-container {
  height: 100vh;
  width: 100vh;
  position: absolute;
}
.text{

  margin-left:100vh;
  font-size:8vh;
  color:#000;
  font-family: 'Lato', sans-serif;
}