@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Titillium+Web:400,300,600,700|Raleway:400,300,500,600,700|PT+Sans:400,400italic,700);
html,
body {
  background: #111;
  color: #CCC;
  height: 100%;
  width: 100%;
}

#project_container {
  font-family: 'Raleway', serif;
  padding: 15px;
  width: 80%;
  margin: 0px auto;
}

#project_container h2 {
  font-family: 'Titillium Web', serif;
  font-size: 20pt;
  letter-spacing: 3px;
}

#project_container p a {
  color: white;
}

#project_container p a:hover {
  color: orange;
}

#project_container p {
  color: gray;
  padding: 5px;
  font-size: 10pt;
}

#projectbox {
  margin-top: 1em;
}

